body{}
#banner {width: 100%;text-align: center;}
.principal {  background: rgb(252, 248, 248);}
h1 {
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 15px 0;
}
#missao {font: size 30px;}
.texto { color: rgb(15, 15, 14);}
.tema { 
    color: cornsilk;
}

p { 
    text-align: center;
}
ul{ 
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

em strong { 
    color: rgb(243, 233, 233) (15, 14, 13, 0);
}           

.itens {
    font-style: italic;
    color: white;
}

.beneficios { 
    background: rgb(24, 21, 21); 
}
h2 { 
    text-align: center;
    color: cornsilk;
}

 .imagemdownload { 
     width: 30%;
 }